@import "mixing";
@import "var";
*{
    padding: 0;margin: 0;box-sizing: border-box;
}
html{
    font-size: 62.5%;
    //10px 
}

.main_header{
    @include flexprop();
    width: 100vw;
    height: 100vh;
   
    background-color: $bg-color;

//operators
//variables
//nesting
//mixing
h1{
@include cmncode(0.8rem,10rem);//can't use airthmetic operator
    &:hover{
    color:#ef5777;
    letter-spacing: 3rem;
    
}}
p{  
    @include cmncode(0.5rem,2rem);//can't use airthmetic operator
    color: pink;

&:hover{
    color:#4bcffa;
}}

}//nesting