@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    padding: 0;margin: 0;
}
header{
    display: flex;
    background-color: #2874f0;
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}
header nav ul{
    display: flex;
    height: 58px;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
}
header nav ul li a{
    text-decoration: none;
    padding: 0 20px;
    font-size: medium;
    color: white;
}
header nav ul li {
    padding: 0 20px;
    width: 60vw;

}
header nav div img{
    width: 94px;

}
header nav ul li a:hover{
  
   font-weight: bolder;
   color: wheat;
}
header nav ul li a p{
    display: inline;
    
 
 }
 .container{
     
     min-height: calc(100vh - 58px - 7vh);
     background-color: blanchedalmond;
 }
header nav div{
    display: flex;
    justify-content: flex-start;
align-items: center;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 310px;
height: 21px;
border-radius: 7px;

}
.search button{
    border: 2px solid white;
    color: white;
    background-color: #2874f0;
    margin: 0 6px;
    border-radius: 4px;
    padding: 2px;
    font-family: 'Lato', sans-serif;

    cursor: pointer;
}
footer{
    display: flex;
    height: 7vh;
    background-color: #172337;
    justify-content: center;
    font-family: 'Lato', sans-serif;

    align-items: center;
    color: white;
    font-size: 25px;
}